<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML</title>
</head>
<body>

<!--<h1>naresh</h1>-->
<!--<h6>naresh</h6>-->
<!--<hr>-->
<!--hello my  name  is <em>prasanna</em>nareesh, sharma <br> <strong>I</strong> <u>love</u> programming-->
<!--H<sub>2</sub>o-->
<!--x<sup>3</sup>-->

<!--<a href="https://www.google.com>">naresh</a>-->
<!--<details>-->
<!--    <summary>pen</summary>-->
<!--    <img src="pen.jpg" alt="not loaded" title="image of pen" width="100" height="100">-->
<!--</details>-->
<!--<progress max="100" value="50">uploading</progress>-->
<!--&lt;!&ndash;<img src="pen.jpg" alt="not loaded" title="image of pen" width="400" height="400">&ndash;&gt;-->

<table border="9" width="500" cellpadding="50" cellspacing="0">
    <thead>
    <tr>
        <th>Roll no</th>
        <th>Name</th>
        <th>phoneno</th>
    </tr>

    </thead>

    <tbody>

    <tr >

        <td colspan="2">Naresh</td>
        <td>1234</td>
    </tr>

    <tr valign="top">
        <td>2</td>
        <td>Prasanna</td>
        <td rowspan="2">1234</td>
    </tr>

    <tr>
        <td>3</td>
        <td>Prabesh</td>

    </tr>
    </tbody>
</table>

</body>
</html>